python/micropython/proyectos/iot/flows.json
[
    {
        "id": "f993ee15565609f4",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cab253b4505a4239",
        "type": "comment",
        "z": "f993ee15565609f4",
        "name": "Entrega final: Comunicación MQTT - NodeRED // TRESER, LUCAS MARTÍN",
        "info": "Escribir un programa de flujo de NodeRED que permita interactuar con un programa desarrollado sobre la placa de desarrollo que se comunique a través del protocolo MQTT.\n\nDebe incluir mínimamente:\n\n* Una llave en el dashboard que permita permutar entre encendido y apagado de un LED.\n* Un control de colores RGB en el dashboard que permita cambiar de color a uno o varios LED NeoPixel.\n* Un control deslizante en el dashboard que permita posicionar un servomotor en la placa de desarrollo para moverlo entre 10 y 170 grados.\n* Generar una notificación en el dashboard al dispararse una alarma implementada en la placa de desarrollo.\n* Informar en el dashboard el valor medido utilizando el conversor analógico-digital de la placa de desarrollo. Se sugiere que la medición sea de forma continua (periódica a intervalos de 1 segundo) y graficar valores históricos.\n* Informar en el dashboard el valor sensado en la placa de desarrollo de temperatura y humedad de forma continua. Se sugieren graficar los valores históricos.",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "c341bbda9cce3334",
        "type": "mqtt in",
        "z": "f993ee15565609f4",
        "name": "MQTT IN",
        "topic": "/lmtreser/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "fcb588b4d1585332",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "208dab79fa4cb78d"
            ]
        ]
    },
    {
        "id": "6baa88560fcb38d4",
        "type": "mqtt out",
        "z": "f993ee15565609f4",
        "name": "MQTT OUT",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcb588b4d1585332",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "e7b86f23cbfddaf4",
        "type": "ui_switch",
        "z": "f993ee15565609f4",
        "name": "LED",
        "label": "LED Rojo",
        "tooltip": "",
        "group": "fa9486a7fd2732cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "led",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "f44480fca6e46615"
            ]
        ]
    },
    {
        "id": "8049d60abd318021",
        "type": "ui_colour_picker",
        "z": "f993ee15565609f4",
        "name": "Neopixel: Color",
        "label": "Neopixel color:",
        "group": "fa9486a7fd2732cc",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": true,
        "showHue": true,
        "showAlpha": false,
        "showLightness": false,
        "square": "true",
        "dynOutput": "false",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "neopixel",
        "topicType": "str",
        "className": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "f44480fca6e46615"
            ]
        ]
    },
    {
        "id": "ef670e6b36bd19ac",
        "type": "ui_toast",
        "z": "f993ee15565609f4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Alarma",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "63cc76d50d0c5e67",
        "type": "ui_text",
        "z": "f993ee15565609f4",
        "group": "8880d363.148ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Humedad",
        "label": "Humedad:",
        "format": "{{msg.payload}}%RH",
        "layout": "row-spread",
        "className": "",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "3e964e6f14ca378f",
        "type": "ui_text",
        "z": "f993ee15565609f4",
        "group": "8880d363.148ac",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Temperatura",
        "label": "Temperatura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "68c8d58bead9b1b4",
        "type": "ui_chart",
        "z": "f993ee15565609f4",
        "name": "Histórico",
        "group": "84c56eef64a510f1",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "208dab79fa4cb78d",
        "type": "switch",
        "z": "f993ee15565609f4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/lmtreser/entradas/humedad",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/lmtreser/entradas/temperatura",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/lmtreser/entradas/alarma",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/lmtreser/entradas/nivel",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "63cc76d50d0c5e67",
                "68c8d58bead9b1b4"
            ],
            [
                "3e964e6f14ca378f",
                "e686bd8e85698ef2"
            ],
            [
                "ef670e6b36bd19ac"
            ],
            [
                "8593b045e6bfc039",
                "32d3ed4a691e9f15"
            ]
        ]
    },
    {
        "id": "f44480fca6e46615",
        "type": "function",
        "z": "f993ee15565609f4",
        "name": "",
        "func": "//Armado del topic de acuerdo al control recibido\n\nlet topico = msg.topic;\n\nswitch(topico) {\n  case \"led\":\n    msg.topic = \"/lmtreser/salidas/led_rojo\";\n    break;\n  case \"servo\":\n      msg.topic =\"/lmtreser/salidas/servo\";\n    break;\n  case \"neopixel\":\n      msg.topic =\"/lmtreser/salidas/neopixel/1\";\n      let colores = msg.payload;\n      msg.payload = colores.slice(4, colores.length - 1);\n    break;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "6baa88560fcb38d4",
                "ec9f56d27b2ecc60"
            ]
        ]
    },
    {
        "id": "8593b045e6bfc039",
        "type": "ui_text",
        "z": "f993ee15565609f4",
        "group": "8880d363.148ac",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "ADC",
        "label": "ADC:",
        "format": "{{msg.payload}}mV",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "7a280e3e5e6dfd46",
        "type": "ui_slider",
        "z": "f993ee15565609f4",
        "name": "Servo",
        "label": "Servo",
        "tooltip": "",
        "group": "fa9486a7fd2732cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "servo",
        "topicType": "str",
        "min": "10",
        "max": "170",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "f44480fca6e46615",
                "43a0bf79818b6222"
            ]
        ]
    },
    {
        "id": "ec9f56d27b2ecc60",
        "type": "debug",
        "z": "f993ee15565609f4",
        "name": "Depuración",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "6f9508befc0b779b",
        "type": "comment",
        "z": "f993ee15565609f4",
        "name": "Envio de datos",
        "info": "",
        "x": 120,
        "y": 480,
        "wires": []
    },
    {
        "id": "3fd7856197988c9b",
        "type": "comment",
        "z": "f993ee15565609f4",
        "name": "Recepción de datos",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "32d3ed4a691e9f15",
        "type": "ui_gauge",
        "z": "f993ee15565609f4",
        "name": "",
        "group": "8880d363.148ac",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel",
        "label": "mV",
        "format": "{{value}}",
        "min": 0,
        "max": "2500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "e686bd8e85698ef2",
        "type": "ui_chart",
        "z": "f993ee15565609f4",
        "name": "Histórico",
        "group": "84c56eef64a510f1",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "43a0bf79818b6222",
        "type": "ui_text",
        "z": "f993ee15565609f4",
        "group": "fa9486a7fd2732cc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Servo:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 330,
        "y": 660,
        "wires": []
    },
    {
        "id": "fcb588b4d1585332",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": "",
        "credentials": {}
    },
    {
        "id": "fa9486a7fd2732cc",
        "type": "ui_group",
        "name": "Acciones",
        "tab": "db58ad1a.e37a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8880d363.148ac",
        "type": "ui_group",
        "name": "Registro",
        "tab": "db58ad1a.e37a8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84c56eef64a510f1",
        "type": "ui_group",
        "name": "Gráficos",
        "tab": "db58ad1a.e37a8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db58ad1a.e37a8",
        "type": "ui_tab",
        "name": "Livra Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]